@page "{datasetName?}/{id?}"
@model RazorWebApp.Pages.Data.EditModel 
@{ 
    ViewData["Title"] = @Model.DatasetDescriptor.Name; 
}

<div class="row">
    <div class="col-sm-3">
        @foreach (var item in Model.ApplicationDescriptor.Datasets) {
        <form method="post" asp-route-datasetName="@item.Name" asp-page-handler="datasetSelect">
            <button class="btn btn-default">@item.Name</button>
        </form>
        <br> }

    </div>
    <div class="col-sm-9">
        <h2>@ViewData["Title"]</h2>
        <form method="post">
            <input type="hidden" asp-for="DatasetName"/>
            <input type="hidden" asp-for="DataId"/>
            @for (int i = 0; i < Model.DatasetDescriptor.Attributes.Count; i++){
                <input type="hidden" asp-for="Keys[i]"/>
                <div class="form-group">
                     @{ var attribute = Model.DatasetDescriptor.Attributes[i]; }
                    <label>@attribute.Name</label>
                    <input value="@Model.Data[attribute.Name].ToString()" name="ValueList[@i]" class="form-control">
                    <span asp-validation-for="Model.ValueList[@i]" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>