@page "{datasetName?}/{handler?}"
@using SharedLibrary.Enums
@model RazorWebApp.Pages.Data.GetModel 
@{ 
    ViewData["Title"] = @Model.ActiveDatasetDescriptor.Name; 
}



    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">@Model.ApplicationDescriptor.AppName</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-page="/Index" class="navbar-brand">Logout</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Model.NavbarRights[(long)SystemDatasetsEnum.Users] >= RightsEnum.R)
                    {
                        <li><a asp-page="../Users/Get">Users</a></li>
                    }
                    @if (Model.NavbarRights[(long)SystemDatasetsEnum.Rights] >= RightsEnum.R)
                    {
                        <li><a asp-page="../Rights/Get">Rights</a></li>
                    }
                    <li><a asp-page="/Account/Settings">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>






<div class="row">
    <div class="col-sm-3">
        <h2>Datasets</h2>
        @foreach (var item in Model.ReadAuthorizedDatasetsNames) {
        <form method="post" asp-route-datasetName="@item" asp-page-handler="datasetSelect">
            <button class="btn btn-default">@item</button>
        </form>
        <br> }

    </div>
    <div class="col-sm-9">
        <h2>@ViewData["Title"]</h2>
        @if (Model.ActiveDatasetRights >= RightsEnum.CRU)
        {
            <form method="post" asp-route-datasetName="@Model.ActiveDatasetDescriptor.Name" asp-page-handler="dataCreate">
                <button class="btn btn-default">Create</button>
            </form>
        }
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        @foreach (var item in Model.Keys) {
                        <th>
                            @item
                        </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data) {
                    <tr>
                        @foreach (var key in Model.Keys) {
                        <td>
                            @item[key]
                        </td>
                        }
                        @if (Model.ActiveDatasetRights >= RightsEnum.RU)
                        {
                        <td>
                            <form method="post" asp-route-datasetName="@Model.ActiveDatasetDescriptor.Name" asp-route-dataId="@item["DBId"]" asp-page-handler="dataEdit">
                                <button class="btn btn-default">Edit</button>
                            </form>
                        </td>
                        }
                        @if (Model.ActiveDatasetRights >= RightsEnum.CRUD)
                        {
                        <td>
                            <form method="post" asp-route-datasetName="@Model.ActiveDatasetDescriptor.Name" asp-route-dataId="@item["DBId"]" asp-page-handler="dataDelete">
                                <button class="btn btn-default">Delete</button>
                            </form>
                        </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>