@page "{datasetName?}"
@using SharedLibrary.Enums
@using Newtonsoft.Json
@using RazorWebApp.Structures
@model RazorWebApp.Pages.Data.GetModel 
@{ 
    ViewData["Title"] = @Model.ActiveDatasetDescriptor.Name; 
}

<!-- Application menu -->
@{Html.RenderPartial("Shared/_LoggedMenuPartial", Model.MenuData); }

<!-- Application body -->
<div class="row">
    <!-- Side menu with read authorized datasets -->
    @{Html.RenderPartial("Shared/_ReadAuthorizedDatasetsMenuPartial", Model.ReadAuthorizedDatasets); }

    <div class="col-sm-9">
        <!-- Messages -->
        @if (Model.Messages != null || Model.Messages.Count != 0){
            Html.RenderPartial("Shared/_MessagesPartial", Model.Messages);
        }
        
        <h2>@ViewData["Title"]</h2>

        <h6>@Model.ActiveDatasetDescriptor.Description</h6>

        <!-- New dataset data creation button, if user has rights to create new data in the dataset -->
        @if (Model.ActiveDatasetRights >= RightsEnum.CRU)
        {
            <form method="post" asp-route-datasetName="@Model.ActiveDatasetDescriptor.Name" asp-page-handler="dataCreate">
                <button class="btn btn-success">Create</button>
            </form>
        }
        <!-- Table with dataset data -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <!-- Name of each dataset attribute -->
                        @foreach (var attribute in Model.ActiveDatasetDescriptor.Attributes) {
                            <th>
                                @attribute.Name
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.Data) {
                        <tr>
                            <!-- Value of each dataset attribute -->
                            @foreach (var attribute in Model.ActiveDatasetDescriptor.Attributes) {
                                <td>
                                    @{Html.RenderPartial("Shared/_GetBuilderPartial", 
                                                new GetBuilderPartialData {
                                                                                CellContent = row.DataDictionary[attribute.Name],
                                                                                Attribute = attribute,
                                                                                ApplicationDescriptor = Model.ApplicationDescriptor
                                                                            }
                                                );
                                    }
                                </td>
                            }
                            <!-- Dataset data edit button, if user has rights to edit data in the dataset -->
                            @if (Model.ActiveDatasetRights >= RightsEnum.RU)
                            {
                                <td>
                                    <form method="post" asp-route-datasetName="@Model.ActiveDatasetDescriptor.Name" asp-route-dataId="@row.Id" asp-page-handler="dataEdit">
                                        <button class="btn btn-info">Edit</button>
                                    </form>
                                </td>
                            }
                            <!-- Dataset data delete button, if user has rights to delete data in the dataset -->
                            @if (Model.ActiveDatasetRights >= RightsEnum.CRUD)
                            {
                                <td>
                                    <form method="post" asp-route-datasetName="@Model.ActiveDatasetDescriptor.Name" asp-route-dataId="@row.Id" asp-page-handler="dataDelete">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>