@page "{datasetName?}/{handler?}"
@using SharedLibrary.Enums
@model RazorWebApp.Pages.Data.GetModel 
@{ 
    ViewData["Title"] = @Model.ActiveDatasetDescriptor.Name; 
}

@{Html.RenderPartial("Shared/_LoggedMenuPartial", Model.MenuData); }

<div class="row">

    @{Html.RenderPartial("Shared/_ReadAuthorizedDatasetsMenuPartial", Model.ReadAuthorizedDatasets); }

    <div class="col-sm-9">
        @if (Model.Message != null || Model.Message != ""){
            <div class="row">
                <div class="modal-body col-sm-9 center-block text-center">
                    <span><b>@Model.Message</b></span>
                </div>
            </div>
        }
        <h2>@ViewData["Title"]</h2>
        @if (Model.ActiveDatasetRights >= RightsEnum.CRU)
        {
            <form method="post" asp-route-datasetName="@Model.ActiveDatasetDescriptor.Name" asp-page-handler="dataCreate">
                <button class="btn btn-default">Create</button>
            </form>
        }
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        @foreach (var attribute in Model.ActiveDatasetDescriptor.Attributes) {
                        <th>
                            @attribute.Name
                        </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.Data) {
                    <tr>
                        @foreach (var attribute in Model.ActiveDatasetDescriptor.Attributes) {
                        <td>
                            @if (row[attribute.Name].Count() >= 1) {
                                @row[attribute.Name][0]
                            }
                            @for (int i = 1; i < row[attribute.Name].Count(); i++) {
                                <text><br></text>
                                @row[attribute.Name][i]
                            }
                        </td>
                        }
                        @if (Model.ActiveDatasetRights >= RightsEnum.RU)
                        {
                        <td>
                            <form method="post" asp-route-datasetName="@Model.ActiveDatasetDescriptor.Name" asp-route-dataId="@row["DBId"][0]" asp-page-handler="dataEdit">
                                <button class="btn btn-default">Edit</button>
                            </form>
                        </td>
                        }
                        @if (Model.ActiveDatasetRights >= RightsEnum.CRUD)
                        {
                        <td>
                            <form method="post" asp-route-datasetName="@Model.ActiveDatasetDescriptor.Name" asp-route-dataId="@row["DBId"][0]" asp-page-handler="dataDelete">
                                <button class="btn btn-default">Delete</button>
                            </form>
                        </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>