@page 
@using SharedLibrary.Enums 
@model RazorWebApp.Pages.Rights.CreateModel 
@{ 
    ViewData["Title"] = "Rights"; 
}

<!-- Application menu -->
@{Html.RenderPartial("Shared/_LoggedMenuPartial", Model.MenuData); }

<!-- Application body -->
<div class="container-fluid logged-page-content">
    <div class="col-sm-12">
        <!-- Messages -->
        @if (Model.Messages != null && Model.Messages.Count != 0){
            Html.RenderPartial("Shared/_MessagesPartial", Model.Messages);
        }

        <h2>@ViewData["Title"]</h2>

        <!-- New rights creation form -->
        <form method="post">
            <!-- Rights name -->
            <div class="form-group">
                <label>Name</label>
                <input value="@Model.NewRightsName" name="NewRightsName" class="form-control">
            </div>
            <!-- Rights for user defined datasets -->
            @foreach (var dataset in Model.ApplicationDescriptor.Datasets){ 
                <div class="form-group">
                    <label>@dataset.Name</label>
                    <select name="NewRightsDictionary[@dataset.Id]" 
                            asp-items="Html.GetEnumSelectList<RightsEnum>()" 
                            class="form-control"
                            asp-for="@Model.NewRightsDictionary[@dataset.Id]"
                            >
                    </select>
                </div>
            }
            <!-- Rights for system datasets -->
            <hr>
            <div class="form-group">
                <label>@Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Name</label>
                <select name="NewRightsDictionary[@((long)SystemDatasetsEnum.Users)]" 
                        asp-items="Html.GetEnumSelectList<RightsEnum>()"
                        class="form-control"
                        asp-for="@Model.NewRightsDictionary[(long)SystemDatasetsEnum.Users]"
                        >
                </select>

            </div>
            <div class="form-group">
                <label>Rights</label>
                <select name="NewRightsDictionary[@((long)SystemDatasetsEnum.Rights)]" 
                        asp-items="Html.GetEnumSelectList<RightsEnum>()"
                        class="form-control"
                        asp-for="@Model.NewRightsDictionary[(long)SystemDatasetsEnum.Rights]"
                        >
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>