@page "{id?}" 
@using SharedLibrary.Enums 
@model RazorWebApp.Pages.Rights.EditModel 
@{ 
    ViewData["Title"] = "Rights"; 
}

@{Html.RenderPartial("Shared/_LoggedMenuPartial", Model.MenuData); }

<div class="row">
    <div class="col-sm-12">
        <h2>@ViewData["Title"]</h2>
        <form method="post">
            <input type="hidden" asp-for="ApplicationDescriptor" />
            <input type="hidden" asp-for="DataId" /> 

            <div class="form-group">
                <label>Name</label>
                <input value="@Model.Data.Name" name="RightsName" class="form-control">
            </div>
             
            @for (int i = 2; i < Model.ApplicationDescriptor.Datasets.Count + 2; i++){ 
            <input type="hidden" asp-for="DatasetsIds[i-2]" />
            <div class="form-group">
                @{ var dataset = Model.ApplicationDescriptor.Datasets[i-2]; }
                <label>@dataset.Name</label>
                <select name="ValueList[@i]" 
                        asp-items="Html.GetEnumSelectList<RightsEnum>()" 
                        class="form-control"
                        asp-for="@Model.Data.DataDictionary[dataset.Id.ToString()]"
                        >
                </select>
            </div>
            }
            <hr>
            <div class="form-group">
                <label>Users</label>
                <select name="ValueList[0]" 
                        asp-items="Html.GetEnumSelectList<RightsEnum>()"
                        class="form-control"
                        asp-for="@Model.Data.DataDictionary[((long)SystemDatasetsEnum.Users).ToString()]"
                        >
                </select>

            </div>
            <div class="form-group">
                <label>Rights</label>
                <select name="ValueList[1]" 
                        asp-items="Html.GetEnumSelectList<RightsEnum>()"
                        class="form-control"
                        asp-for="@Model.Data.DataDictionary[((long)SystemDatasetsEnum.Rights).ToString()]"
                        >
                </select>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>