@page "{handler?}"
@using SharedLibrary.Enums
@model RazorWebApp.Pages.Rights.GetModel 
@{ 
    ViewData["Title"] = "Rights"; 
}

@{Html.RenderPartial("Shared/_LoggedMenuPartial", Model.MenuData); }

<div class="row">
    <div class="col-sm-12">
        @if (Model.Message != null || Model.Message != ""){
                <div class="modal-body col-sm-12 center-block text-center">
                    <span><b>@Model.Message</b></span>
                </div>
        }
        <h2>@ViewData["Title"]</h2>
        @if (Model.RightsRights >= RightsEnum.CRU)
        {
            <form method="post" asp-page-handler="rightsCreate">
                <button class="btn btn-default">Create</button>
            </form>
        }
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        @foreach (var dataset in Model.ApplicationDescriptor.Datasets) {
                        <th>
                            @dataset.Name
                        </th>
                        }
                        <th>
                            Users
                        </th>
                        <th>
                            Rights
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data) {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        @foreach (var dataset in Model.ApplicationDescriptor.Datasets) {
                        <td>
                            @((RightsEnum)int.Parse(item.DataDictionary[dataset.Id.ToString()].ToString()))
                        </td>
                        }
                        <td>
                            @((RightsEnum)int.Parse(item.DataDictionary[((long)SystemDatasetsEnum.Users).ToString()].ToString()))
                        </td>
                        <td>
                            @((RightsEnum)int.Parse(item.DataDictionary[((long)SystemDatasetsEnum.Rights).ToString()].ToString()))
                        </td>
                        @if (Model.RightsRights >= RightsEnum.RU)
                        {
                        <td>
                            <form method="post" asp-route-dataId="@item.Id" asp-page-handler="rightsEdit">
                                <button class="btn btn-default">Edit</button>
                            </form>
                        </td>
                        }
                        @if (Model.RightsRights >= RightsEnum.CRUD)
                        {
                        <td>
                            <form method="post" asp-route-dataId="@item.Id" asp-page-handler="rightsDelete">
                                <button class="btn btn-default">Delete</button>
                            </form>
                        </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>