@page
@using SharedLibrary.Enums
@using Core.Structures
@model Core.Pages.User.GetModel 
@{ 
    ViewData["Title"] = @Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Name; 
}

<!-- Application menu -->
@{Html.RenderPartial("Shared/_LoggedMenuPartial", Model.MenuData); }

<!-- Application body -->
<div class="container-fluid logged-page-content">
    <div class="col-sm-12">
        <!-- Messages -->
        @if (Model.Messages != null && Model.Messages.Count != 0){
            Html.RenderPartial("Shared/_MessagesPartial", Model.Messages);
        }

        <!-- Display users table if user is allowed to read users -->
        @if (Model.UsersRights >= RightsEnum.R)
        {
            <h2>@ViewData["Title"]</h2>
            <h6>@Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Description</h6>

            <!-- New user creation button, if user has rights to create new user -->
            @if (Model.UsersRights >= RightsEnum.CRU) 
            {
                <form method="post" asp-page-handler="userCreate">
                    <button class="btn btn-success">Create</button>
                </form>
            }
            <!-- Table with application users -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- Columns with user data -->
                            @foreach (var attribute in Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Attributes) {
                                <th>
                                    @attribute.Name
                                </th>
                            }
                            <!-- Columns with user rights -->
                            <th>
                                Rights
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Data) {
                            <tr>
                                @foreach (var attribute in Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Attributes) {
                                    <td>
                                        @{Html.RenderPartial("Shared/_GetBuilderPartial", 
                                                    new GetBuilderPartialData {
                                                                                    CellContent = user.DataDictionary[attribute.Name],
                                                                                    Attribute = attribute,
                                                                                    ApplicationDescriptor = Model.ApplicationDescriptor
                                                                                }
                                                    );
                                        }
                                    </td>
                                } 
                                <td>
                                    @user.Rights.Name
                                </td>
                                <!-- User edit and password reset button, if user has rights to edit users -->
                                @if (Model.UsersRights >= RightsEnum.RU) 
                                {
                                    <td>
                                        <form method="post" asp-route-dataId="@user.Id" asp-page-handler="userEdit">
                                            <button class="btn btn-info">Edit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="post" asp-route-dataId="@user.Id" asp-page-handler="userResetPassword">
                                            <button class="btn btn-warning">Reset password</button>
                                        </form>
                                    </td>
                                } 
                                <!-- User delete button, if user has rights to delete users -->
                                @if (Model.UsersRights >= RightsEnum.CRUD) 
                                {
                                    <td>
                                        <form method="post" asp-route-dataId="@user.Id" asp-page-handler="userDelete">
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>