@page 
@using SharedLibrary.Enums 
@using RazorWebApp.Structures
@model RazorWebApp.Pages.User.CreateModel 
@{ 
    ViewData["Title"] = @Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Name; 
}

@{Html.RenderPartial("Shared/_LoggedMenuPartial", Model.MenuData); }

<div class="row">
    <div class="col-sm-12">
        <h2>@ViewData["Title"]</h2>
        @if (Model.Message != null || Model.Message != ""){
                <div class="modal-body col-sm-12 center-block text-center">
                    <span><b>@Model.Message</b></span>
                </div>
        }
        <form method="post">
            @for (int i = 2; i < Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Attributes.Count + 2; i++){
                <div class="form-group">
                     @{ var attribute = Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Attributes[i - 2]; }
                    <label>@attribute.Name</label>
                    <small>@attribute.Description</small>
                    @{Html.RenderPartial("Shared/_EditBuilderPartial", 
                                          new EditBuilderPartialData {
                                                                        Attribute = attribute, 
                                                                        OutValue = "ValueList[" + attribute.Name + "]",
                                                                        SelectData = Model.SelectData
                                                                      }
                                        ); 
                    }
                    <!--<span asp-validation-for="Model.ValueList[@i]" class="text-danger"></span>-->
                </div>
            }

            <div class="form-group">
                <label>Rights</label>
                <select name="NewRightsId" 
                        asp-items="Model.UserRightsList"
                        class="form-control"
                        >
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>