@page "{id?}" 
@using SharedLibrary.Enums 
@using RazorWebApp.Structures
@model RazorWebApp.Pages.User.EditModel 
@{ 
    ViewData["Title"] = @Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Name; 
}

<!-- Application menu -->
@{Html.RenderPartial("Shared/_LoggedMenuPartial", Model.MenuData); }

<!-- Application body -->
<div class="row">
    <div class="col-sm-12">
        <!-- Messages -->
        @if (Model.Messages != null || Model.Messages.Count != 0){
            Html.RenderPartial("Shared/_MessagesPartial", Model.Messages);
        }

        <h2>@ViewData["Title"]</h2>
        
        <!-- User edit form -->
        <form method="post">
            <input type="hidden" asp-for="UserId" /> 

            <!-- Input for each attribute in users dataset -->
            @foreach (var attribute in Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Attributes){
                <div class="form-group">
                    <label>@attribute.Name</label>
                    <small>@attribute.Description</small>
                    @{Html.RenderPartial("Shared/_InputBuilderPartial", 
                                          new InputBuilderPartialData {
                                                                        Attribute = attribute, 
                                                                        OutValue = "UserDataDictionary[" + attribute.Name + "]",
                                                                        InValue = Model.UserDataDictionary[attribute.Name],
                                                                        SelectData = Model.SelectData
                                                                       }
                                        );
                    }
                </div>
            }
            <!-- Input for user rights -->
            <div class="form-group">
                <label>Rights</label>
                <select name="UserRightsId" 
                        asp-items="Model.UserRightsData"
                        class="form-control"
                        asp-for="@Model.UserRightsId"
                        >
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>