@page "{handler?}"
@using SharedLibrary.Enums
@model RazorWebApp.Pages.User.GetModel 
@{ 
    ViewData["Title"] = "Users"; 
}

@{Html.RenderPartial("Shared/_LoggedMenuPartial", Model.MenuData); }

<div class="row">
    <div class="col-sm-12">
        @if (Model.Message != null || Model.Message != ""){
        <div class="row">
            <div class="modal-body col-sm-12 center-block text-center">
                <span><b>@Model.Message</b></span>
            </div>
        </div>
        }
        <h2>@ViewData["Title"]</h2>
        @if (Model.UsersRights >= RightsEnum.CRU) {
        <form method="post" asp-page-handler="userCreate">
            <button class="btn btn-default">Create</button>
        </form>
        }
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.UsernameAttributes.Name
                        </th>
                        @*
                        <th>
                            @Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.PasswordAttributes.Name
                        </th>
                        *@
                        <th>
                            Rights
                        </th>

                        @foreach (var attribute in Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Attributes) {
                        <th>
                            @attribute.Name
                        </th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Data) {
                    <tr>
                        <td>
                            @user.Username
                        </td>
                        @*
                        <td>
                            @user.Password
                        </td>
                        *@
                        <td>
                            @user.Rights.Name
                        </td>

                        @foreach (var attribute in Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Attributes) {
                        <td>
                            @user.DataDictionary[attribute.Name]
                        </td>
                        } @if (Model.UsersRights >= RightsEnum.RU) {
                        <td>
                            <form method="post" asp-route-dataId="@user.Id" asp-page-handler="userEdit">
                                <button class="btn btn-default">Edit</button>
                            </form>
                        </td>
                        } @if (Model.UsersRights >= RightsEnum.CRUD) {
                        <td>
                            <form method="post" asp-route-dataId="@user.Id" asp-page-handler="userDelete">
                                <button class="btn btn-default">Delete</button>
                            </form>
                        </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>