@using SharedLibrary.Enums 
@using Newtonsoft.Json
@model RazorWebApp.Structures.GetBuilderPartialData

@if (@Model.CellContent.Count() >= 1) 
{
    bool isReference = !AttributeType.Types.Contains(@Model.Attribute.Type);
    if (isReference) 
    {
        <!-- If attribute is reference types, display value with link -->
        var data = JsonConvert.DeserializeObject<Tuple<string, string>>(@Model.CellContent[0].ToString());
        string path;
        @if (@Model.Attribute.Type == @Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Name)
        {
            <!-- System users dataset -->
            path = "~/User/Edit/" + data.Item1;
        }
        else
        {
            <!-- User defined datasets -->
            path = "~/Data/Edit/" + @Model.Attribute.Type + "/" + data.Item1;
        }
        <a href="@Url.Content(path)">@data.Item2</a>
        
    }
    else if (@Model.Attribute.Type == "bool")
    {
        <!-- Display icon for boolean type attributes -->
        if (@Model.CellContent[0].ToString() == "0")
        {
            <text>❌</text>
        }
        else if (@Model.CellContent[0].ToString() == "1")
        {
            <text>✅</text>
        }
    }
    else
    {
        <!-- For other types display the text representation -->
        @Model.CellContent[0]
    }
}
<!-- For references with multiple elements selected display each of them with link -->
@for (int i = 1; i < Model.CellContent.Count(); i++) 
{
    <text><br></text>
    var data = JsonConvert.DeserializeObject<Tuple<string, string>>(@Model.CellContent[i].ToString());
    string path;
    @if (@Model.Attribute.Type == @Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.Name)
    {
        <!-- System users dataset -->
        path = "~/User/Edit/" + data.Item1;
    }
    else
    {
        <!-- User defined datasets -->
        path = "~/Data/Edit/" + @Model.Attribute.Type + "/" + data.Item1;
    }
    <a href="@Url.Content(path)">@data.Item2</a>
}